In [3]:
!apt-get install inxi -y -qq &> /dev/null

In [4]:
!inxi -F

System:    Host: ba07eca7ed5c Kernel: 5.4.144+ x86_64 bits: 64 Console: tty 0
           Distro: Ubuntu 18.04.5 LTS
Machine:   Device: docker Mobo: Google model: Google Compute Engine serial: Board-GoogleCloud-CEE1481F5F942E14581FD2EE9F1FB724
           BIOS: Google v: Google date: 01/01/2011
Battery    Using dmidecode: unknown error occurred
CPU:       Single core Intel Xeon (-MT-) cache: 56320 KB
           clock speeds: max: 2200 MHz 1: 2200 MHz 2: 2200 MHz
Graphics:  Card: Failed to Detect Video Card!
           Display Server: X.org 1.20.8 driver: N/A
           tty size: 0x0 Advanced Data: N/A for root out of X
Network:   Card: Red Hat Virtio network device driver: virtio-pci
           IF: N/A state: N/A speed: N/A duplex: N/A mac: N/A
Drives:    HDD Total Size: 91.3GB (53.7% used)
           ID-1: /dev/sda model: PersistentDisk size: 91.3GB
Partition: ID-1: / size: 108G used: 42G (39%) fs: overlay dev: N/A
RAID:      No RAID devices: /proc/mdstat, md_mod kernel module present
Sensors:   None detected - is lm-sensors installed and configured?
Info:      Processes: 14 Uptime: 4 min Memory: 1054.5/12991.1MB Init: N/A
           Client: Shell (python3) inxi: 2.3.56

In [5]:
import os
import warnings
import pandas as pd
import matplotlib.pyplot as plt
import plotly.express as px
import seaborn as sns
import numpy as np
import plotly as py
import plotly.graph_objs as go
from sklearn.cluster import KMeans

warnings.filterwarnings("ignore")
py.offline.init_notebook_mode(connected = True)

In [6]:
supress_wget_output = True;
dropna_after_reading_csv = False;
dropna_after_merging_dfs = True;

In [7]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/9a3521d2-4bc5-4fda-93f0-f701c8a20727/download/componentes-curriculares-presenciais.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/99dd0a7d-4908-4e85-9f20-d58c8195260e/download/componentes-curriculares-semi-presenciais.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/d1de5b44-0ae6-4a22-8dac-ae44aa1c3248/download/componentes-curriculares-ead.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/8bf1a468-48ff-4f4d-95ee-b17b7a3a5592/resource/ff0a457e-76fa-4aca-ad99-48aebd7db070/download/docentes.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/9a3521d2-4bc5-4fda-93f0-f701c8a20727/download/componentes-curriculares-presenciais.csv
  !wget -nc https://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/99dd0a7d-4908-4e85-9f20-d58c8195260e/download/componentes-curriculares-semi-presenciais.csv
  !wget -nc https://dados.ufrn.br/dataset/3fea67e8-6916-4ed0-aaa6-9a8ca06a9bdc/resource/d1de5b44-0ae6-4a22-8dac-ae44aa1c3248/download/componentes-curriculares-ead.csv
  !wget -nc https://dados.ufrn.br/dataset/8bf1a468-48ff-4f4d-95ee-b17b7a3a5592/resource/ff0a457e-76fa-4aca-ad99-48aebd7db070/download/docentes.csv

In [8]:
componentes_curriculares = pd.read_csv('componentes-curriculares-presenciais.csv', sep=';', usecols=["id_componente","codigo","nivel","nome","unidade_responsavel"])
docentes = pd.read_csv('docentes.csv', sep=';')

In [9]:
componentes_curriculares.id_componente = componentes_curriculares.id_componente.astype(str)
componentes_curriculares.dropna(inplace=True)
componentes_curriculares = componentes_curriculares[~componentes_curriculares.id_componente.duplicated()]

In [10]:
class semestre:
  def __init__(self, identificador, csv_turmas, csv_matricula_componente):
    self.identificador = identificador
    self.csv_turmas = csv_turmas
    self.csv_matricula_componente = csv_matricula_componente
    self.rows_dropped = 0
    #self.rows_dropped = 0

In [11]:
semestres = []

In [ ]:
'''
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/e6e4144f-4042-4fdc-84e0-76e9ec27ae7c/download/turmas-2014.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/7081446d-39f9-4374-ad0b-86ecab97e569/download/matricula-componente-20141.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/e6e4144f-4042-4fdc-84e0-76e9ec27ae7c/download/turmas-2014.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/7081446d-39f9-4374-ad0b-86ecab97e569/download/matricula-componente-20141.csv
csv_turmas_2014_1 = 'turmas-2014.1.csv'
csv_matricula_componente_2014_1 = 'matricula-componente-20141.csv'
semestres.append(semestre('2014.1', csv_turmas_2014_1, csv_matricula_componente_2014_1))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/2c69547b-920f-4ec2-92c0-3fbc19512165/download/turmas-2014.2.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/e974792c-b557-470c-bf3d-ede7d5b5e6a6/download/matricula-componente-20142.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/2c69547b-920f-4ec2-92c0-3fbc19512165/download/turmas-2014.2.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/e974792c-b557-470c-bf3d-ede7d5b5e6a6/download/matricula-componente-20142.csv
csv_turmas_2014_2 = 'turmas-2014.2.csv'
csv_matricula_componente_2014_2 = 'matricula-componente-20142.csv'
semestres.append(semestre('2014.2', csv_turmas_2014_2, csv_matricula_componente_2014_2))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/4d5aee5a-00b0-4ed6-a4be-59fa77a56797/download/turmas-2015.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/9e7ba1c2-f92d-4b9c-9e91-3b026ecdf913/download/matriculas-de-2015.1.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/4d5aee5a-00b0-4ed6-a4be-59fa77a56797/download/turmas-2015.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/9e7ba1c2-f92d-4b9c-9e91-3b026ecdf913/download/matriculas-de-2015.1.csv
csv_turmas_2015_1 = 'turmas-2015.1.csv'
csv_matricula_componente_2015_1 = 'matriculas-de-2015.1.csv'
semestres.append(semestre('2015.1', csv_turmas_2015_1, csv_matricula_componente_2015_1))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/7c59621c-4a8b-49d4-b319-83cfea9bdf28/download/turmas-2015.2.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/baa6c8b4-2072-417f-b238-c028ccc8c14b/download/matriculas-de-2015.2.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/7c59621c-4a8b-49d4-b319-83cfea9bdf28/download/turmas-2015.2.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/baa6c8b4-2072-417f-b238-c028ccc8c14b/download/matriculas-de-2015.2.csv
csv_turmas_2015_2 = 'turmas-2015.2.csv'
csv_matricula_componente_2015_2 = 'matriculas-de-2015.2.csv'
semestres.append(semestre('2015.2', csv_turmas_2015_2, csv_matricula_componente_2015_2))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/322d9977-ba15-47f1-8216-75a1ca78e197/download/turmas-2016.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/4778d3ce-8898-46a8-a623-ee6a480a2980/download/matriculas-de-2016.1.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/322d9977-ba15-47f1-8216-75a1ca78e197/download/turmas-2016.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/4778d3ce-8898-46a8-a623-ee6a480a2980/download/matriculas-de-2016.1.csv
csv_turmas_2016_1 = 'turmas-2016.1.csv'
csv_matricula_componente_2016_1 = 'matriculas-de-2016.1.csv'
semestres.append(semestre('2016.1', csv_turmas_2016_1, csv_matricula_componente_2016_1))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/5e8e3228-7f22-40a2-9efd-561c44844567/download/turmas-2016.2.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/f6179838-b619-4d7d-af9c-18c438b80dd4/download/matriculas-de-2016.2.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/5e8e3228-7f22-40a2-9efd-561c44844567/download/turmas-2016.2.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/f6179838-b619-4d7d-af9c-18c438b80dd4/download/matriculas-de-2016.2.csv
csv_turmas_2016_2 = 'turmas-2016.2.csv'
csv_matricula_componente_2016_2 = 'matriculas-de-2016.2.csv'
semestres.append(semestre('2016.2', csv_turmas_2016_2, csv_matricula_componente_2016_2))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/5e77d066-d506-45eb-a21e-76aa79616fef/download/turmas-2017.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/79071c21-e32c-438f-b930-d1b6ccc02ec2/download/matricula-componente-20171.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/5e77d066-d506-45eb-a21e-76aa79616fef/download/turmas-2017.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/79071c21-e32c-438f-b930-d1b6ccc02ec2/download/matricula-componente-20171.csv
csv_turmas_2017_1 = 'turmas-2017.1.csv'
csv_matricula_componente_2017_1 = 'matricula-componente-20171.csv'
semestres.append(semestre('2017.1', csv_turmas_2017_1, csv_matricula_componente_2017_1))'''

In [ ]:
'''if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/01fe7343-fdf0-4a67-b915-2386b7c2fecb/download/turmas-2017.2.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/55dfe713-ff7c-4fa8-8d1d-d4294a025bff/download/matricula-componente-20172.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/01fe7343-fdf0-4a67-b915-2386b7c2fecb/download/turmas-2017.2.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/55dfe713-ff7c-4fa8-8d1d-d4294a025bff/download/matricula-componente-20172.csv
csv_turmas_2017_2 = 'turmas-2017.2.csv'
csv_matricula_componente_2017_2 = 'matricula-componente-20172.csv'
semestres.append(semestre('2017.2', csv_turmas_2017_2, csv_matricula_componente_2017_2))'''

In [20]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/3ae16138-4214-4a30-ac2d-6cffd6237031/download/turmas-2018.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/3c1feba4-ced1-466e-8e94-a040224a51dc/download/matricula-componente-20181.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/3ae16138-4214-4a30-ac2d-6cffd6237031/download/turmas-2018.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/3c1feba4-ced1-466e-8e94-a040224a51dc/download/matricula-componente-20181.csv
csv_turmas_2018_1 = 'turmas-2018.1.csv'
csv_matricula_componente_2018_1 = 'matricula-componente-20181.csv'
semestres.append(semestre('2018.1', csv_turmas_2018_1, csv_matricula_componente_2018_1))

In [21]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/77fe7603-0e71-4e21-8cd4-cb823353023f/download/turmas-2018.2.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/0bfcaf6a-4424-4983-8ba8-d330350a8fbe/download/matricula-componente-20182.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/77fe7603-0e71-4e21-8cd4-cb823353023f/download/turmas-2018.2.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/0bfcaf6a-4424-4983-8ba8-d330350a8fbe/download/matricula-componente-20182.csv
csv_turmas_2018_2 = 'turmas-2018.2.csv'
csv_matricula_componente_2018_2 = 'matricula-componente-20182.csv'
semestres.append(semestre('2018.2', csv_turmas_2018_2, csv_matricula_componente_2018_2))

In [22]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/1e42cd66-69d6-48d5-a346-d46766fd2c9c/download/turmas-2019.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/6d66d15a-8d0f-43a3-902b-d314f4a2a296/download/matricula-componente-20191.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/1e42cd66-69d6-48d5-a346-d46766fd2c9c/download/turmas-2019.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/6d66d15a-8d0f-43a3-902b-d314f4a2a296/download/matricula-componente-20191.csv
csv_turmas_2019_1 = 'turmas-2019.1.csv'
csv_matricula_componente_2019_1 = 'matricula-componente-20191.csv'
semestres.append(semestre('2019.1', csv_turmas_2019_1, csv_matricula_componente_2019_1))

In [23]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/d9c2863e-d1b2-4afd-b7dd-09517d5ed17d/download/turmas-2019.2.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/0d573a4f-de65-4c3d-b6bb-337473bc4e44/download/matricula-componente-20192.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/d9c2863e-d1b2-4afd-b7dd-09517d5ed17d/download/turmas-2019.2.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/0d573a4f-de65-4c3d-b6bb-337473bc4e44/download/matricula-componente-20192.csv
csv_turmas_2019_2 = 'turmas-2019.2.csv'
csv_matricula_componente_2019_2 = 'matricula-componente-20192.csv'
semestres.append(semestre('2019.2', csv_turmas_2019_2, csv_matricula_componente_2019_2))

In [24]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/3a9fe77e-478d-4b18-b7bc-a4df57cbdf46/download/turmas-2020.1.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/4e4dd1fb-fc0b-460d-b52a-9f37a42b82b3/download/matricula-componente-20201.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/3a9fe77e-478d-4b18-b7bc-a4df57cbdf46/download/turmas-2020.1.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/4e4dd1fb-fc0b-460d-b52a-9f37a42b82b3/download/matricula-componente-20201.csv
csv_turmas_2020_1 = 'turmas-2020.1.csv'
csv_matricula_componente_2020_1 = 'matricula-componente-20201.csv'
semestres.append(semestre('2020.1', csv_turmas_2020_1, csv_matricula_componente_2020_1))

In [25]:
if supress_wget_output:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/964f91df-f322-4e56-897b-f06cca611904/download/turmas-2020.6.csv &> /dev/null
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/9d663129-879a-4663-b631-4bfd0ee08e98/download/matricula-componente-20206.csv &> /dev/null
else:
  !wget -nc https://dados.ufrn.br/dataset/1938623d-fb07-41a4-a55a-1691f7c3b8b5/resource/964f91df-f322-4e56-897b-f06cca611904/download/turmas-2020.6.csv
  !wget -nc https://dados.ufrn.br/dataset/c8650d55-3c5a-4787-a126-d28a4ef902a6/resource/9d663129-879a-4663-b631-4bfd0ee08e98/download/matricula-componente-20206.csv
csv_turmas_2020_6 = 'turmas-2020.6.csv'
csv_matricula_componente_2020_6 = 'matricula-componente-20206.csv'
semestres.append(semestre('2020.6', csv_turmas_2020_6, csv_matricula_componente_2020_6))

In [26]:
for semestre in semestres:
  semestre.turmas = pd.read_csv(semestre.csv_turmas, sep=';')
  semestre.matricula_componente = pd.read_csv(semestre.csv_matricula_componente, sep=';')

  if dropna_after_reading_csv:
    aux_1 = semestre.turmas.dropna(axis=0)
    aux_2 = semestre.matricula_componente.dropna(axis=0)
    semestre.rows_dropped += (semestre.turmas.size - aux_1.size) + (semestre.matricula_componente.size - aux_2.size)
    semestre.turmas = aux_1
    semestre.matricula_componente = aux_2

In [27]:
for semestre in semestres:
  print(semestre.identificador + ':')
  print('  rows_dropped: ' + str(semestre.rows_dropped))
  print('  turmas_df_size: ' + str(semestre.turmas.size))
  print('  matricula_componente_df_size: ' + str(semestre.matricula_componente.size))
  print()

2018.1:
  rows_dropped: 0
  turmas_df_size: 388076
  matricula_componente_df_size: 6968180

2018.2:
  rows_dropped: 0
  turmas_df_size: 410826
  matricula_componente_df_size: 6887730

2019.1:
  rows_dropped: 0
  turmas_df_size: 420108
  matricula_componente_df_size: 7536540

2019.2:
  rows_dropped: 0
  turmas_df_size: 394238
  matricula_componente_df_size: 6695520

2020.1:
  rows_dropped: 0
  turmas_df_size: 210938
  matricula_componente_df_size: 1664620

2020.6:
  rows_dropped: 0
  turmas_df_size: 249418
  matricula_componente_df_size: 6153960

In [28]:
colunas_merge = ["id_turma","siape","codigo","nivel_ensino","nome","unidade_responsavel", "situacao_turma","capacidade_aluno","descricao_horario"]

for semestre in semestres:
  aux_1 = semestre.turmas
  aux_1.rename(columns={'id_componente_curricular': 'id_componente'}, inplace=True)
  aux_1.id_componente = aux_1.id_componente.astype(str)
  semestre.turmas = aux_1
  aux_2 = pd.merge(semestre.turmas, componentes_curriculares, on='id_componente')[colunas_merge]
  if dropna_after_merging_dfs:
    aux_2.dropna(axis=0, inplace=True)

  semestre.df = aux_2

In [29]:
colunas_merge = ["id_turma", "nome_y", "codigo", "nivel_ensino","nome_x","capacidade_aluno", "descricao_horario"]

for semestre in semestres:
  aux_0 = semestre.df
  aux_0 = aux_0[aux_0.situacao_turma == 'CONSOLIDADA']
  aux_0.rename(columns={'siape': 'siape'}, inplace=True)
  aux_1 = pd.merge(aux_0, docentes, on='siape')[colunas_merge]
  aux_2 = semestre.matricula_componente[semestre.matricula_componente.id_turma.isin(aux_1.id_turma)]
  aux_3 = pd.merge(aux_2, aux_1, on='id_turma')
  semestre.df = aux_3

In [30]:
for semestre in semestres:
  aux_1 = semestre.df
  aux_1 = aux_1.replace({',': '.'}, regex=True)
  aux_1.capacidade_aluno = aux_1.capacidade_aluno.astype(np.int64)
  aux_1.nota = aux_1.nota.astype(np.float64)
  aux_1.media_final = aux_1.media_final.astype(np.float64)
  aux_1.id_curso = aux_1.id_curso.fillna(0).astype(np.ushort)
  aux_1.unidade = aux_1.unidade.fillna(0).astype(np.ushort)
  aux_1.faltas_unidade = aux_1.faltas_unidade.fillna(0).astype(np.ushort)
  aux_1.numero_total_faltas = aux_1.numero_total_faltas.fillna(0).astype(np.ushort)
  aux_1.capacidade_aluno = aux_1.capacidade_aluno.fillna(0).astype(np.ushort)
  aux_1.id_turma = aux_1.id_turma.fillna(0).astype(np.ushort)
  semestre.df = aux_1

In [31]:
def aprovado(row):
    if row["descricao"] == "APROVADO" or row["descricao"] == "APROVADO POR NOTA":
        return True
    else:
        return False

In [32]:
def reprovadoporfalta(row):
    if row["descricao"] == "REPROVADO POR FALTAS" or row["descricao"] == "REPROVADO POR NOTA E FALTA" or row["descricao"] == "REPROVADO POR MÉDIA E POR FALTAS":
        return True
    else:
        return False

In [33]:
def reposicao(row):
    if row["reposicao"] == "True":
        return True
    else:
        return False

In [34]:
def exclusao(row):
  if row["aprovado"] == 0:
    if row["media_final"] < 5:
      if row["reprovadoporfalta"] == True:
        return True;
        # ele tem que sair
      else:
        return False;
    else:
      return False;
  else:
    return False;

In [35]:
for semestre in semestres:
  aux_1 = semestre.df
  rotulos_1 = aux_1.apply(aprovado, axis = 1)
  aux_1["aprovado"] = rotulos_1
  rotulos_2 = aux_1.apply(reprovadoporfalta, axis = 1)
  aux_1["reprovadoporfalta"] = rotulos_2
  rotulos_3 = aux_1.apply(reposicao, axis = 1)
  aux_1["reposicao"] = rotulos_3
  aux_1['semestre'] = semestre.identificador

In [36]:
dfs = []
for semestre in semestres:
  dfs.append(semestre.df)
df = pd.concat(dfs, ignore_index=True)

In [37]:
df = df.dropna()
df = df.drop_duplicates()
df.reset_index(drop=True, inplace=True)
aux = df
df = aux.rename(columns = {'nome_y' : 'docente', 'nome_x' : 'disciplina'})

In [38]:
dfc = df[['discente', 'unidade', 'nota', 'media_final','aprovado', 'reposicao', 'reprovadoporfalta', 'numero_total_faltas', 'descricao','nivel_ensino', 'id_turma', 'id_curso', 'codigo', 'disciplina', 'docente','semestre']]

In [39]:
dfc.descricao.unique()

array(['APROVADO', 'REPROVADO', 'REPROVADO POR NOTA',
       'REPROVADO POR MÉDIA E POR FALTAS', 'APROVADO POR NOTA',
       'CANCELADO', 'REPROVADO POR FALTAS', 'EXCLUIDA',
       'REPROVADO POR NOTA E FALTA', 'TRANCADO', 'DESISTENCIA',
       'DISPENSADO', 'EM ESPERA', 'CUMPRIU', 'AGUARDANDO DEFERIMENTO'],
      dtype=object)

In [40]:
dfc = dfc[dfc["descricao"] != "INDEFERIDO"]
dfc = dfc[dfc["descricao"] != "EXCLUIDA"]
dfc = dfc[dfc["descricao"] != "TRANCADO"]
dfc = dfc[dfc["descricao"] != "CANCELADO"]
dfc = dfc[dfc["descricao"] != "DESISTENCIA"]
dfc = dfc[dfc["descricao"] != "AGUARDANDO DEFERIMENTO"]
dfc = dfc[dfc["descricao"] != "CUMPRIU"]
dfc = dfc[dfc["descricao"] != "EM ESPERA"]
dfc = dfc[dfc["descricao"] != "DISPENSADO"]

In [41]:
dfc = dfc[dfc["nivel_ensino"] == "GRADUAÇÃO"]

In [42]:
dfc.to_csv("dfc.csv")

In [43]:
filtrados = dfc
filtrados = filtrados.loc[filtrados['disciplina'] == 'INTRODUÇÃO ÀS TÉCNICAS DE PROGRAMAÇÃO']

In [44]:
rotulos_filtrados = filtrados.apply(exclusao, axis = 1)
filtrados["excluido"] = rotulos_filtrados
base_final = filtrados.loc[filtrados['excluido'] == False]
excluidos = filtrados.loc[filtrados['excluido'] == True]

In [45]:
# linhas excluidas pela regra
excluidos.size

5763

In [46]:
# [discente, turma] excluidos pela regra
excluidos[excluidos.duplicated(subset = ["discente", "id_turma"], keep = 'first') != True].size

1802

In [47]:
base_final.to_csv("base_final.csv")

In [48]:
excluidos.to_csv("excluidos.csv")

In [49]:
# [discente, turma] na base final
base_final[base_final.duplicated(subset = ["discente", "id_turma"], keep = 'first') != True].size

10676

In [50]:
kmeansdb = base_final
dfkm = kmeansdb[['id_turma','discente', 'docente', 'unidade', 'nota', 'media_final','numero_total_faltas', 'aprovado', 'reposicao', 'reprovadoporfalta', 'semestre']]

In [51]:
def strhash_to_inthash(row):
  strhash = row['discente'];
  return hash(strhash) % 10**8;

In [52]:
def docentehash(row):
  strhash = row['docente'].split()[0];
  inthash = hash(strhash) % 10**1;
  return inthash;

In [53]:
def bool_to_int_aprovado(row):
  if row['aprovado'] == True:
    return 1;
  else:
    return 0;

In [54]:
def bool_to_int_reprovadoporfalta(row):
  if row['reprovadoporfalta'] == True:
    return 1;
  else:
    return 0;

In [55]:
def bool_to_int_reposicao(row):
  if row['reposicao'] == True:
    return 1;
  else:
    return 0;

In [56]:
def docentenome(row):
  return row['docente'].split()[0];

In [57]:
reduced_docente = dfkm.apply(docentenome, axis = 1)
dfkm["docente_nome"] = reduced_docente

inthashed_docente = dfkm.apply(docentehash, axis = 1)
dfkm["docente"] = inthashed_docente

inthashed_discente = dfkm.apply(strhash_to_inthash, axis = 1)
dfkm["discente"] = inthashed_discente 

aprovacao = dfkm.apply(bool_to_int_aprovado, axis = 1)
dfkm["aprovado"] = aprovacao 

reprovacaoporfalta = dfkm.apply(bool_to_int_reprovadoporfalta, axis = 1)
dfkm["reprovadoporfalta"] = reprovacaoporfalta 

reposicao = dfkm.apply(bool_to_int_reposicao, axis = 1)
dfkm["reposicao"] = reposicao 

normalized_docente=(dfkm.docente-dfkm.docente.min())/(dfkm.docente.max()-dfkm.docente.min())
dfkm["docente"] = normalized_docente

normalized_discente=(dfkm.discente-dfkm.discente.min())/(dfkm.discente.max()-dfkm.discente.min())
dfkm["discente"] = normalized_discente

normalized_unidade=(dfkm.unidade-dfkm.unidade.min())/(dfkm.unidade.max()-dfkm.unidade.min())
dfkm["unidade"] = normalized_unidade

normalized_nota=(dfkm.nota-dfkm.nota.min())/(dfkm.nota.max()-dfkm.nota.min())
dfkm["nota"] = normalized_nota

normalized_media_final=(dfkm.media_final-dfkm.media_final.min())/(dfkm.media_final.max()-dfkm.media_final.min())
dfkm["media_final"] = normalized_media_final

normalized_numero_total_faltas=(dfkm.numero_total_faltas-dfkm.numero_total_faltas.min())/(dfkm.numero_total_faltas.max()-dfkm.numero_total_faltas.min())
dfkm["numero_total_faltas"] = normalized_numero_total_faltas

In [58]:
dfkm.aprovado = dfkm.aprovado.astype(np.float64)
dfkm.reprovadoporfalta = dfkm.reprovadoporfalta.astype(np.float64)
dfkm.reposicao = dfkm.reposicao.astype(np.float64)

In [59]:
dfkm.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1965 entries, 152545 to 1733241
Data columns (total 12 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   id_turma             1965 non-null   uint16
 1   discente             1965 non-null   float64
 2   docente              1965 non-null   float64
 3   unidade              1965 non-null   float64
 4   nota                 1965 non-null   float64
 5   media_final          1965 non-null   float64
 6   numero_total_faltas  1965 non-null   float64
 7   aprovado             1965 non-null   float64
 8   reposicao            1965 non-null   float64
 9   reprovadoporfalta    1965 non-null   float64
 10  semestre             1965 non-null   object
 11  docente_nome         1965 non-null   object
dtypes: float64(9), object(2), uint16(1)
memory usage: 188.1+ KB

In [60]:
describedb = dfkm
describedb = dfkm[['nota', 'media_final', 'numero_total_faltas', 'aprovado']]
describedb.describe()

              nota  media_final  numero_total_faltas     aprovado
count  1965.000000  1965.000000          1965.000000  1965.000000
mean      0.591318     0.608412             0.142232     0.746565
std       0.315708     0.258489             0.143274     0.435089
min       0.000000     0.000000             0.000000     0.000000
25%       0.370000     0.500000             0.000000     0.000000
50%       0.640000     0.640000             0.117647     1.000000
75%       0.860000     0.790000             0.264706     1.000000
max       1.000000     1.000000             1.000000     1.000000

In [61]:
dfkm.to_csv("dfkm.csv")

In [62]:
df

         id_turma                          discente  ...  reprovadoporfalta  semestre
0            9902  150f06d25dfafd2ac87b2a49b8fb49b1  ...              False    2018.1
1            9902  150f06d25dfafd2ac87b2a49b8fb49b1  ...              False    2018.1
2            9902  150f06d25dfafd2ac87b2a49b8fb49b1  ...              False    2018.1
3            9902  46f9540cc15333e6ec97dfd8e69120a5  ...              False    2018.1
4            9902  46f9540cc15333e6ec97dfd8e69120a5  ...              False    2018.1
...           ...                               ...  ...                ...       ...
1982533     51177  38739ed2f2c78b62a97d159296aada97  ...              False    2020.6
1982534     51177  38739ed2f2c78b62a97d159296aada97  ...              False    2020.6
1982535     51177  6ff513d319c0c2f295aee41bc1832627  ...              False    2020.6
1982536     51177  6ff513d319c0c2f295aee41bc1832627  ...              False    2020.6
1982537     51177  6ff513d319c0c2f295aee41bc1832627  ...              False    2020.6

[1982538 rows x 19 columns]

Warning: total number of rows (1982538) exceeds max_rows (20000). Limiting to first (20000) rows.

In [63]:
dfc

                                 discente  ...  semestre
0        150f06d25dfafd2ac87b2a49b8fb49b1  ...    2018.1
1        150f06d25dfafd2ac87b2a49b8fb49b1  ...    2018.1
2        150f06d25dfafd2ac87b2a49b8fb49b1  ...    2018.1
3        46f9540cc15333e6ec97dfd8e69120a5  ...    2018.1
4        46f9540cc15333e6ec97dfd8e69120a5  ...    2018.1
...                                   ...  ...       ...
1982533  38739ed2f2c78b62a97d159296aada97  ...    2020.6
1982534  38739ed2f2c78b62a97d159296aada97  ...    2020.6
1982535  6ff513d319c0c2f295aee41bc1832627  ...    2020.6
1982536  6ff513d319c0c2f295aee41bc1832627  ...    2020.6
1982537  6ff513d319c0c2f295aee41bc1832627  ...    2020.6

[1888295 rows x 16 columns]

Warning: total number of rows (1888295) exceeds max_rows (20000). Limiting to first (20000) rows.

In [64]:
base_final

                                 discente  unidade  ...  semestre  excluido
152545   aff5745e9d2415cccaa803e95a41fcb0        1  ...    2018.1     False
152546   aff5745e9d2415cccaa803e95a41fcb0        2  ...    2018.1     False
152547   aff5745e9d2415cccaa803e95a41fcb0        3  ...    2018.1     False
152554   9f228c8e428905c379140da73a893410        1  ...    2018.1     False
152555   9f228c8e428905c379140da73a893410        2  ...    2018.1     False
...                                   ...      ...  ...       ...       ...
1733234  f624420224de42ee8ead203860c86c7b        2  ...    2020.6     False
1733235  f624420224de42ee8ead203860c86c7b        3  ...    2020.6     False
1733239  8ba5923f42b147aa2c60ede46c0f2b03        2  ...    2020.6     False
1733240  8ba5923f42b147aa2c60ede46c0f2b03        1  ...    2020.6     False
1733241  8ba5923f42b147aa2c60ede46c0f2b03        3  ...    2020.6     False

[1965 rows x 17 columns]

In [65]:
excluidos

                                 discente  unidade  ...  semestre  excluido
152557   7448bbfeb9b87ec12bbb49b0c0e87e7d        1  ...    2018.1      True
152558   7448bbfeb9b87ec12bbb49b0c0e87e7d        2  ...    2018.1      True
152559   7448bbfeb9b87ec12bbb49b0c0e87e7d        3  ...    2018.1      True
152623   22c17fcdde44072a52cbc8add9822411        1  ...    2018.1      True
152624   22c17fcdde44072a52cbc8add9822411        2  ...    2018.1      True
...                                   ...      ...  ...       ...       ...
1733222  70fbf2794c50774bd667207c60e4f71b        2  ...    2020.6      True
1733223  70fbf2794c50774bd667207c60e4f71b        1  ...    2020.6      True
1733236  6043307418e036ae8e52936a7a0f7a68        1  ...    2020.6      True
1733237  6043307418e036ae8e52936a7a0f7a68        3  ...    2020.6      True
1733238  6043307418e036ae8e52936a7a0f7a68        2  ...    2020.6      True

[339 rows x 17 columns]

In [66]:
dfkm

         id_turma  discente   docente  ...  reprovadoporfalta  semestre  docente_nome
152545       7902  0.260357  0.142857  ...                0.0    2018.1        RAFAEL
152546       7902  0.260357  0.142857  ...                0.0    2018.1        RAFAEL
152547       7902  0.260357  0.142857  ...                0.0    2018.1        RAFAEL
152554       7902  0.532844  0.142857  ...                0.0    2018.1        RAFAEL
152555       7902  0.532844  0.142857  ...                0.0    2018.1        RAFAEL
...           ...       ...       ...  ...                ...       ...           ...
1733234     58432  0.318254  0.428571  ...                0.0    2020.6    WELLINGTON
1733235     58432  0.318254  0.428571  ...                0.0    2020.6    WELLINGTON
1733239     58432  0.000898  0.428571  ...                0.0    2020.6    WELLINGTON
1733240     58432  0.000898  0.428571  ...                0.0    2020.6    WELLINGTON
1733241     58432  0.000898  0.428571  ...                0.0    2020.6    WELLINGTON

[1965 rows x 12 columns]

In [67]:
dfkm.loc[dfkm['semestre'] == '2019.1']

         id_turma  discente   docente  ...  reprovadoporfalta  semestre  docente_nome
867658      29310  0.982055  1.000000  ...                0.0    2019.1       GUSTAVO
867659      29310  0.982055  1.000000  ...                0.0    2019.1       GUSTAVO
867660      29310  0.982055  1.000000  ...                0.0    2019.1       GUSTAVO
867670      29310  0.494901  1.000000  ...                0.0    2019.1       GUSTAVO
867671      29310  0.494901  1.000000  ...                0.0    2019.1       GUSTAVO
...           ...       ...       ...  ...                ...       ...           ...
1123525     33239  0.755096  0.857143  ...                0.0    2019.1       MARJORY
1123526     33239  0.755096  0.857143  ...                0.0    2019.1       MARJORY
1123527     33239  0.121089  0.857143  ...                0.0    2019.1       MARJORY
1123528     33239  0.121089  0.857143  ...                0.0    2019.1       MARJORY
1123529     33239  0.121089  0.857143  ...                0.0    2019.1       MARJORY

[228 rows x 12 columns]

In [68]:
dfkm.loc[dfkm['semestre'] == '2020.6']

         id_turma  discente   docente  ...  reprovadoporfalta  semestre  docente_nome
1731093     51963  0.754991  0.000000  ...                0.0    2020.6         ANDRE
1731094     51963  0.754991  0.000000  ...                0.0    2020.6         ANDRE
1731095     51963  0.754991  0.000000  ...                0.0    2020.6         ANDRE
1731096     51963  0.704715  0.000000  ...                0.0    2020.6         ANDRE
1731097     51963  0.704715  0.000000  ...                0.0    2020.6         ANDRE
...           ...       ...       ...  ...                ...       ...           ...
1733234     58432  0.318254  0.428571  ...                0.0    2020.6    WELLINGTON
1733235     58432  0.318254  0.428571  ...                0.0    2020.6    WELLINGTON
1733239     58432  0.000898  0.428571  ...                0.0    2020.6    WELLINGTON
1733240     58432  0.000898  0.428571  ...                0.0    2020.6    WELLINGTON
1733241     58432  0.000898  0.428571  ...                0.0    2020.6    WELLINGTON

[363 rows x 12 columns]